@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #131921;
    --main-bg-hover: #232f3e;
    --accent-yellow: #ffd814;
    --accent-orange: #febd69;
    --text-dark: #111111;
    --text-muted: #565959;
    --border-color: #dddddd;
    --bg-page: #f3f3f3;
    --white: #ffffff;
}

body {
    /* background-color: var(--main-bg-color); */
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}


/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    height: 60px;
}

/* Logo */
.logo-box {
    display: flex;
    cursor: pointer;
    align-items: last baseline;
    gap: 2px;

}

.logo-box:hover {
    outline: 1px solid var(--white);
}

.logo-text {
    color: var(--white);
    font-size: 26px;
    font-weight: 700;
}

.logo-tag {
    color: var(--white);
    font-size: 13px;
    font-weight: 500;
}

/* Search  */
.search {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 15px;

}

.search input {
    flex: 1;
    padding: 0 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Roboto', sans-serif;
    height: 32px;
}

.search-btn {
    width: 32px;
    cursor: pointer;
    height: 32px;
    border: none;
}

/* Login & cart */
.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
    color: var(--white);
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
}

.top-text {
    font-size: 12px;
}

.bottom-text {
    font-size: 15px;
    font-weight: 700;
}

.nav-item:hover {
    outline: 1px solid var(--white);
}

/* Footer */
footer {
    background-color: var(--main-bg-hover);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}


.upper-footer {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.footer-col{
    margin-top: 20px;
}

.footer-col h4 {
    font-size: 19px;
    font-weight: bolder;
    color: #FFF;
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    text-decoration: none;
    color: #DDD;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 6px;
}

.footer-col a:hover {
    text-decoration: underline;
}

.lower-footer {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.lower-row ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    font-size: 14px;
}

.lower-row a {
    color: #DDD;
    text-decoration: none;
}

.lower-copy {
    color: #DDD;
    text-decoration: none;
    font-size: 12px;
}

.lower-row a:hover {
    text-decoration: underline;
}

/* Main Body  */
.container {
    background-color: #e3e6e6;
    padding: 0 4px;
    margin: 0px auto;
}

/* Background Image */
.background-slider {
    width: 100%;
    overflow: hidden;
    /* max-height: fit-content; */

}

.background-slider img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/* Grid */
.shop-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-box {
    background: #f6f5f5;
    padding: 15px;
}

.card-box-header h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.card-box-footer a {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-top: 7px;
    font-size: 15px;
}

.card-box-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}

.card-box-img img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.card-box-img p {
    font-size: 13px;
}